<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    <bean id="acc" class="com.tushar.Spring.Account">
        
         <property name="accountNumber" value="47599763"/>
         <property name="type" value="savings"/>
         <property name="ifsc" value="sbin0123"/>
         
    </bean>

</beans>